<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>DeAd-Template</title>
</head>
<body>
    <header>
        <div class = "logo">
            <h3 class="logo__glyph">DeAd</h3>
            <h2 class="logo__app-name">Detention Admin</h2>
        </div>
    </header>
    <div class="content">
        <nav>
            <div class="nav-menu">
                <button class="nav-menu__button">Login</button>
                <button class="nav-menu__button">Contacts</button>
                <button class="nav-menu__button">Plan Visit</button>
            </div>
        </nav>
        <main>
            <h1>HELLO</h1>
            <h1>HELLO</h1>
            <h1>HELLO</h1>
            <h1>HELLO</h1>
            <h1>HELLO</h1>
            <h1>HELLO</h1>
            <h1>HELLO</h1>
            <h1>HELLO</h1>
            <h1>HELLO</h1>
            <h1>HELLO</h1>
            <h1>HELLO</h1>
            <h1>HELLO</h1>
            <h1>HELLO</h1>
        </main>
        <aside>
            <div class="aside-content">
                <div class="aside-content__text aside-content__text--title">
                    Aside Title
                </div>
                <span class="aside-content__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nunc a nulla libero. Aenean pellentesque at elit et interdum.
                    Maecenas ut porta arcu. In hac habitasse platea dictumst.
                </span>
            </div>
        </aside>
    </div>
    <footer>
        <span>
            Detention Admin Footer
        </span>
        <span>
            Should have basic info about the application
        </span>
    </footer>
</body>
</html>