@use '../../reuseable_components/colors.scss';
@use '../../reuseable_components/fonts.scss';

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include fonts.roboto-light;
    font-size: calc(1rem + 0.2vw);
}