@use '../../reuseable_components/colors.scss';
@use '../../reuseable_components/fonts.scss';

.middle-page-content {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}