@use '../../reuseable_components/colors.scss';
@use '../../reuseable_components/fonts.scss';

.nav-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: colors.$main-content-color;
    margin-top: 0.5em;
    box-shadow: 0px 0px 10px 0px colors.$shadow-color;
    border-left: 0px;
    position: sticky;
    top: 6.5em;
    z-index: 1;
    &__button {
        font-size: calc(1rem + 0.1vw);
        @include fonts.roboto-regular;
        background-color: colors.$main-content-color;
        border: 1px solid transparent;
        border-bottom: 1px solid black;
        color: colors.$primary-text-color;
        text-decoration: none;
        text-align: center;
        padding: 1em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:hover, &:active {
            background-color: colors.$secondary-color;
            border-color: transparent;
        }
    }
    &__title {
        @include fonts.roboto-regular;
        font-size: calc(1rem + 0.3vw);
        text-align: center;
        border-bottom: 1px solid black;
        padding-bottom: 2em;
        padding-top: 2em;
    }
}