$primary-color: rgba(54, 69, 79, .5);
$logo-color: rgba(54, 69, 79, .6); 
$secondary-color: #0066b2;
$body-background-color: #333333;
$primary-text-color: whitesmoke;
$button-border-color: whitesmoke;