@use '../../reuseable_components/colors.scss';
@use '../../reuseable_components/fonts.scss';

.default-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    @include fonts.roboto-light;
    font-size: calc(1rem + 0.3vw);
    * {
        margin-top: 0.7em;
    }
    &__input {
        width: 100%;
        background-color: colors.$main-content-color;
        color: colors.$primary-text-color;
        font-size: calc(1rem + 0.2vw);
        height: 2em;
        &--textarea{
            resize: none;
        }
    }
    &__fieldset {
        padding: 1em;
        display: flex;
        flex-direction: column;
        &--rows{
            display: flex;
            flex-direction: row;
        }
    }
    &__button {
        background-color: colors.$main-content-color;
        width: 70%;
        cursor: pointer;
        @include fonts.roboto-regular;
        align-self: center;
        font-size: calc(1rem + 0.3vw);
        box-shadow: 0px 1px 3px 0px colors.$shadow-color;
        border: 1px solid colors.$main-content-color;
        color: colors.$primary-text-color;
        padding: 0.5em;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        &--small {
            width: auto;
        }
        &:hover, &:active {
            background-color: colors.$secondary-color;
            border-color: colors.$secondary-color;
        }
        &--warning {
            &:hover, &:active {
                background-color: RED;
                border-color: RED;
            }
        }
    }
    &__menu {
        display: flex;
        flex-direction: row;
    }
    &__text {
        @include fonts.roboto-light;
        font-size: calc(1rem + 0.2vw);
        color: colors.$primary-text-color;
    }
}
@media (orientation: portrait) {
    .default-form {
        width: 90%;
    }
}