@use '../../reuseable_components/colors.scss';
@use '../../reuseable_components/fonts.scss';

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(1rem + 0.3vw);
    &__text {
        @include fonts.roboto-light;
        font-size: calc(1rem + 0.2em);
        align-self: flex-start;
        margin-left: 3em;
        margin-bottom: 0.5em;
        &--header {
            @include fonts.roboto-thin;
            font-size: calc(1rem + 0.7vw);
            margin-bottom: 1em;
            margin-left: 2em;
        }
        &--title {
            align-self: center;
            @include fonts.roboto-medium;
            font-size: calc(1rem + 1vw);
            margin-top: 0.5em;
            margin-bottom: 1em;
            margin-left: 0;
        }
    }
}

@media (orientation: portrait) {
    .main-content {
        &__text {
            margin-left: 0.7em;
            &--title {
                margin-left: 0em;
            }
        }
    }
}