@use '../../reuseable_components/colors.scss';
@use '../../reuseable_components/fonts.scss';

.page-content {
    min-height: 100%;
    background-color: colors.$body-background-color;
    color: colors.$primary-text-color;
    display: flex;
    flex-direction: column;
}