@use '../reuseable_components/colors';
@use '../reuseable_components/fonts';
@use '../reuseable_components/logo';
@use './components/header-content.scss';
@use './components/nav-menu.scss';
@use './components/page-content.scss';
@use './components/middle-page-content.scss';
@use './components/main-content.scss';
@use './components/app-menu.scss';
@use './components/footer-styles.scss';
@use './toggleable/toggle-main.scss';
@use './toggleable/toggle-nav.scss';
@use './components/table-styles.scss';
@use './components/form-styles.scss';
@use './components/search-box.scss';

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    height: 100%;
}

main {
    width: 100%;
    margin-top: 1em;
}
header {
    position: sticky;
    top: 0;
    z-index: 2;
}
nav {
    width: 15%;
}
footer {
    margin-top: auto;
    width: 100%;
}
@media (orientation: portrait) {
    nav {
        width: 100%;
    }
}