@use './fonts.scss';
@use './colors.scss';

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include fonts.roboto-black; 
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    &__glyph {
        padding: 0.5em;
        border-radius: 3em;
        border: 1px solid #00c896;
        margin: 0;
        box-shadow: 1px 1px 1px 0px colors.$shadow-color;
    }
    &__app-name {
        padding-left: 0.5em;
        margin: 0;
    }
}