@use '../reuseable_components/colors';
@use '../reuseable_components/fonts';
@use '../reuseable_components/logo';
@use './components/header-content.scss';
@use './components/nav-menu.scss';
@use './components/page-content.scss';
@use './components/middle-page-content.scss';
@use './components/main-content.scss';
@use './toggleable/hidden-nav.scss';
@use './toggleable/shown-nav.scss';
@use './components/app-menu.scss';


* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    height: 100%;
}

main {
    width: 90%;
    margin-top: 1em;
}

nav {
    width: 10%;
    background-color: colors.$main-content-color;
    margin-top: 0.5em;
    box-shadow: 0px 0px 10px 0px colors.$shadow-color;
}

@media (orientation: portait) {

}