@use '../reuseable_components/colors';
@use '../reuseable_components/fonts';
@use '../reuseable_components/logo';
@use './components/aside-content.scss';
@use './components/header-content.scss';
@use './components/nav-menu.scss';
@use './components/page-content.scss';
@use './components/middle-page-content.scss';
@use './components/main-content.scss';
@use './toggleable/hidden-nav.scss';
@use './toggleable/shown-nav.scss';
@use './toggleable/hidden-aside.scss';
@use './toggleable/shown-aside.scss';


* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

main {
    width: 70%;
    margin: 2em;
}

nav {
    width: 10%;
    margin: 2em;
}

aside {
    width: 20%;
    margin: 2em;
}

@media (orientation: portait) {

}