<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>DeAd-Template</title>
</head>
<body>
    <div class="page-content">
        <header>
            <div class="header-content">
                <div class = "logo">
                    <div class="logo__glyph">DeAd</div>
                    <div class="logo__app-name">Detention Admin</div>
                </div>
            </div>
            <div class="app-menu">
                <button class="app-menu__button app-menu__button--sandwich" onclick="toggleNav()">
                    ≡
                </button>
                <button class="app-menu__button">
                    LATEST
                </button>
                <button class="app-menu__button">
                    VISITS
                </button>
                <button class="app-menu__button">
                    PRISONERS
                </button>
                <button class="app-menu__button app-menu__button--logout">
                    ⏻
                </button>
            </div>
        </header>
        <div class="middle-page-content">
            <nav class="shown-nav" id="page-nav">
                <div class="nav-menu">
                    <div class="nav-menu__title">
                        Nav Panel
                    </div>
                    <button class="nav-menu__button">Login</button>
                    <button class="nav-menu__button">Contacts</button>
                </div>
            </nav>
            <main>
                <div class="main-content">
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                    <span>HELLO</span>
                </div>
            </main>
        </div>
        <footer>
            <div class="footer-content">
            <span>
                Detention Admin Footer
            </span>
            <span>
                Should have basic info about the application
            </span>
            </div>
        </footer>
    </div>
    <script src="./toggleable/show-nav.js"></script>
</body>
</html>